
/* Иониконс */
@import url('//https://fonts.googleapis.com');

/* Google Fonts */
@import url('//fonts.gstatic.com');

/* Bootstrap тема */
@import url('//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  overflow: hidden;
}